<div id="sidebar">
  <nav>
    <ul>
      <li>
        <%= image_tag "home.png", width: 32, height: 32 %> ホーム
      </li>
      <li>
        <%= image_tag "sharp.png", width: 32, height: 32 %> 話題を検索
      </li>
      <li>
        <%= image_tag "bell.png", width: 32, height: 32 %> 通知
      </li>
      <li>
        <%= image_tag "mail.png", width: 32, height: 32 %> メッセージ
      </li>
      <li>
        <%= image_tag "bookmark.png", width: 32, height: 32 %> ブックマーク
      </li>
      <li>
        <%= image_tag "list.png", width: 32, height: 32 %> リスト
      </li>
      <li>
        <%= image_tag "profile.png", width: 32, height: 32 %> プロフィール
      </li>
      <li>
        <%= image_tag "more.png", width: 32, height: 32 %> もっと見る
      </li>
    </ul>
    
    <a href="" class="btn_04">ツイートする</a>
  </nav>
</div>


